<nav class="flex-1 px-2 pb-4 space-y-1">
  <a href="" class="hover:bg-coke-600 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
    <i class="fas fa-chart-bar mr-3 flex-shrink-0 h-6 w-6 text-primary-50"></i>
    Dashboard
  </a>
</nav>

  
