<div class="flex flex-col sbg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 flex flex-col">
  <%= link_to(home_path(filters: { folder_id: folder.id }), class: "bg-gray-100 h-52 w-full flex items-center justify-center rounded-t-lg") do %>
    <i class="fa-solid fa-folder-closed h-52 w-full"></i>
  <% end %>
  <div class="p-5 flex flex-col justify-between grow">
    <p class="text-md font-normal text-gray-900 font-bold dark:text-gray-400">
      <%= folder.name.truncate(25) %>
    </p>
    <%= link_to(home_path(filters: { folder_id: folder.id }), class: "mt-4 inline-flex justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary-500 rounded-lg transition-all hover:opacity-75 focus:ring-4 focus:outline-none") do %>
      <%= t('views.components.folders.item.button') %>
      <i class="ml-2 fa-solid fa-arrow-right"></i>
    <% end %>
  </div>
</div>